/* components/mask/mask.wxss */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(31, 31, 31, 0.50) -24.35%, rgba(0, 0, 0, 0.50) 111.95%);
    z-index: 6;
}