/* packageVersion/components/jzCamera/jzCamera.wxss */
.camera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.top {
    width: 100%;
    height: 200rpx;
    background-color: rgba(0, 0, 0, 0.39);
}

.name {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    text-align: center;
    font-family: "Source Han Sans CN";
    font-size: 32rpx;
    font-style: normal;
    font-weight: 500;
    line-height: 33.078rpx;
    /* 103.369% */
    letter-spacing: 0.435rpx;
    top: 110rpx;
}

.bottom {
    width: 100%;
    height: 395.308rpx;
    background-color: rgba(0, 0, 0, 0.39);
    position: fixed;
    bottom: 0;
    left: 0;
}

.btn {
    width: 204.88rpx;
    height: 70rpx;
    border-radius: 12rpx;
    border: 0.5rpx solid #89ACF0;
    background: linear-gradient(111deg, #B1D0F0 -34.78%, #609DE3 87.16%);
    color: #FFF;
    font-family: "PingFang SC";
    font-size: 32rpx;
    font-style: normal;
    font-weight: 500;
    line-height: 70rpx;
    text-align: center;
    margin: 0 auto;
    margin-top: 20rpx;
}

.list {
    height: 244.829rpx;
    width: 750rpx;
    margin-top: 30rpx;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 20rpx;
}

.item {
    display: inline-block;
    height: 214.829rpx;
    margin-left: 20rpx;
    position: relative;
    border-radius: 15rpx;
}

.item-img {
    width: 164rpx;
    height: 100%;
   border-radius: 10rpx;
}

.item-name {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 37.38rpx;
    background-color: rgba(0, 0, 0, 0.63);
    color: #FFF;
    text-align: center;
    font-family: "Source Han Sans CN";
    font-size: 22rpx;
    font-style: normal;
    font-weight: 500;
    line-height: 37.078rpx;
    letter-spacing: 0.435rpx;
    width: 100%;
    border-bottom-left-radius: 15rpx;
    border-bottom-right-radius: 15rpx;
}

.item-active {
    border: 7rpx solid #89ACF0;
}

.cover-img {
    width: 164.171rpx;
    height: 214.815rpx;
    float: right;
}